####https://www.tutorialspoint.com/python/

##Learn Python in Better Way!!!

In [1]:
print('Hello')

Hello

In [2]:
word = 'word'
sentence = "This is a sentence."
paragraph = '''This is a paragraph. It is made up of multiple lines and sentences.'''
'''This is multiline commnet which is ingnored by python.'''

'This is multiline commnet which is ingnored by python.'

In [3]:
word #this is power of python

'word'

In [4]:
sentence

'This is a sentence.'

In [5]:
paragraph

'This is a paragraph. It is made up of multiple lines and sentences.'

In [6]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "Jay"       # A string

print (counter, miles, name)
#print (miles)
#print (name)

100 1000.0 Jay

In [7]:
a=b=c=1
print(a,b,c)

1 1 1

In [8]:
a,b,c=1,2.0,'jay'
print(a,b,c)

1 2.0 jay

Standard Data Types:
   Numbers,
   String,
   List,
   Tuple,
   Dictionary

#String

In [9]:
str = 'Welcome to SIT'
str1='this is jayant'
print (str)         # Prints complete string
print (str[0])      # Prints first character of the string
print (str[2:5])     # Prints characters starting from 2nd to 4th
print (str[3:])      # Prints string starting from 3rd character till end of string
print (str * 2)      # Prints string two times
print (str +" " + "TEST") # Prints concatenated string
print(str1[8:])

Welcome to SIT
W
lco
come to SIT
Welcome to SITWelcome to SIT
Welcome to SIT TEST
jayant

# List

In [10]:
list = [ 'SIT', 123 , 20.20, 'PRN', 2020 ]
tinylist = [107, 'WELCOME']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element till end of list
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists

['SIT', 123, 20.2, 'PRN', 2020]
SIT
[123, 20.2]
[20.2, 'PRN', 2020]
[107, 'WELCOME', 107, 'WELCOME']
['SIT', 123, 20.2, 'PRN', 2020, 107, 'WELCOME']

#Tuple: 
Lists are enclosed in brackets ( [ ] ) and their elements and size can be changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thought of as read-only lists

In [11]:
tuple = ( 'SIT', 123 , 20.20, 'PRN', 2020  )
tinytuple = (107, 'WELCOME')

print (tuple)               # Prints the complete tuple
print (tuple[0])            # Prints first element of the tuple
print (tuple[1:3])          # Prints elements of the tuple starting from 2nd till 3rd 
print (tuple[2:])           # Prints elements of the tuple starting from 3rd element
print (tinytuple * 2)      # Prints the contents of the tuple twice
print (tuple + tinytuple)   # Prints concatenated tuples

('SIT', 123, 20.2, 'PRN', 2020)
SIT
(123, 20.2)
(20.2, 'PRN', 2020)
(107, 'WELCOME', 107, 'WELCOME')
('SIT', 123, 20.2, 'PRN', 2020, 107, 'WELCOME')

In [12]:
tuple = ( 'SIT', 123 , 20.20, 'PRN', 2020  )
list = [ 'SIT', 123 , 20.20, 'PRN', 2020 ]
#tuple[2] = 1000    # Invalid syntax with tuple
list[2] = 1000     # Valid syntax with list

In [13]:
print(list)

['SIT', 123, 1000, 'PRN', 2020]

###Dictionary: Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([])

In [14]:
dict = {}
dict['sit'] = "This is SIT"
dict[2]     = "This is etc"

tinydict = {'name': 'jay','PRN':1234, 'dept': 'ETC'}
tinydict['PRN']=2020
qqqq={'name': 'jay','PRN':1234, 'dept': 'ETC'}
print (dict['sit'])       # Prints value for 'sit' key
print (dict[2])           # Prints value for 2 key
print (tinydict)          # Prints complete dictionary
print (tinydict.keys())  # Prints all the keys
print (tinydict.values()) # Prints all the values
print(tinydict['PRN'])

This is SIT
This is etc
{'name': 'jay', 'PRN': 2020, 'dept': 'ETC'}
dict_keys(['name', 'PRN', 'dept'])
dict_values(['jay', 2020, 'ETC'])
2020

In [15]:
type(qqqq)

dict

In [16]:
#Arithmetic Operators
a=2;b=3
print(a+b)
print(a-b)
print(a*b)
print(b/a)
print(b%a) #Modulus
print(a**b) #Exponent
print(b//a)#floor division

5
-1
6
1.5
1
8
1

In [17]:
#Comparison Operators
a = 21;b = 10

if ( a == b ):
   print (" a is equal to b")
else:
   print (" a is not equal to b")

if ( a != b ):
   print (" a is not equal to b")
else:
   print (" a is equal to b")

if ( a < b ):
   print (" a is less than b" )
else:
   print (" a is not less than b")

if ( a > b ):
   print (" a is greater than b")
else:
   print (" a is not greater than b")


#if (a==c): # Indentation
 # print()
#else:
 # print()

if ( a <= b ):
   print (" a is either less than or equal to  b")
else:
   print (" a is neither less than nor equal to  b")

if ( a >= b ):
   print (" a is either greater than  or equal to b")
else:
   print (" a is neither greater than  nor equal to b")

 a is not equal to b
 a is not equal to b
 a is not less than b
 a is greater than b
 a is neither less than nor equal to  b
 a is either greater than  or equal to b

In [18]:
#Bitwise Operators
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

c = a & b;        # 12 = 0000 1100
print ("AND", c)

c = a | b;        # 61 = 0011 1101 
print ("OR ", c)

c = a ^ b;        # 49 = 0011 0001
print ("XOR ", c)

c = ~a;           # -61 = 1100 0011
print ("Ones Complement ", c)

c = a << 2;       # 240 = 1111 0000
print ("Left Shift ", c)

c = a >> 2;       # 15 = 0000 1111
print ("Right Shift ", c)

AND 12
OR  61
XOR  49
Ones Complement  -61
Left Shift  240
Right Shift  15

In [19]:
#Assignment Operators
a = 21
b = 10
c = 0

c = a + b
print ("Line 1 - Value of c is ", c)

c += a # c=c+a
print ("Line 2 - Value of c is ", c )

c *= a
print ("Line 3 - Value of c is ", c )

c /= a 
print ("Line 4 - Value of c is ", c )

c  = 2
c %= a
print ("Line 5 - Value of c is ", c)

c **= a
print ("Line 6 - Value of c is ", c)

c //= a
print ("Line 7 - Value of c is ", c)

Line 1 - Value of c is  31
Line 2 - Value of c is  52
Line 3 - Value of c is  1092
Line 4 - Value of c is  52.0
Line 5 - Value of c is  2
Line 6 - Value of c is  2097152
Line 7 - Value of c is  99864

In [20]:
#Logical Operators
a=6;b=4;c=2
if a>b and b>c:
  print('a is greater than c')
else:
  print('a is not greater than c')

if b>a or b>c:
  print('b is grater than a or c')
else:
  print('b is not greater than a or c')

d= 10
  
if not d: 
    print("Boolean value of d is True")
     
  
if not (d%3 == 0 or d%5 == 0): 
    print("10 is not divisible by either 3 or 5") 
else: 
    print("10 is divisible by either 3 or 5")

a is greater than c
b is grater than a or c
10 is divisible by either 3 or 5

In [21]:
#Membership Operators
a = 10
b = 2
list = [1, 2, 3, 4, 5 ]

if ( a in list ):
   print (" a is available in the given list")
else:
   print (" a is not available in the given list")

if ( b not in list ):
   print (" b is not available in the given list")
else:
   print (" b is available in the given list")

 a is not available in the given list
 b is available in the given list

In [22]:
#Identity Operators
a = 20
b = 20

if ( a is b ):
   print (" a and b have same identity")
else:
   print (" a and b do not have same identity")

if ( id(a) == id(b) ):
   print (" a and b have same identity")
else:
   print (" a and b do not have same identity")

b = 30
if ( a is b ):
   print (" a and b have same identity")
else:
   print (" a and b do not have same identity")

if ( a is not b ):
   print (" a and b do not have same identity")
else:
   print (" a and b have same identity")

 a and b have same identity
 a and b have same identity
 a and b do not have same identity
 a and b do not have same identity

In [23]:
a = 20
b = 20
if (a is b):
  print('a')
else:
  print('b')

a

![PythonPrecedence](https://drive.google.com/uc?id=1Gi3b6Sb8Yz0Ndm_aIhZkdEAYJn_7EtN0)

In [24]:
#Operators Precedence
a = 20
b = 10
c = 15
d = 5
e = 0

e = (a + b) * c / d       #( 30 * 15 ) / 5
print ("Value of (a + b) * c / d is ",  e)

e = ((a + b) * c) / d     # (30 * 15 ) / 5
print ("Value of ((a + b) * c) / d is ",  e)

e = (a + b) * (c / d);    # (30) * (15/5)
print ("Value of (a + b) * (c / d) is ",  e)

e = a + (b * c) / d;      #  20 + (150/5)
print ("Value of a + (b * c) / d is ",  e)

Value of (a + b) * c / d is  90.0
Value of ((a + b) * c) / d is  90.0
Value of (a + b) * (c / d) is  90.0
Value of a + (b * c) / d is  50.0

##Decision Making

In [94]:
# if case
a=0

if a:
  print('yes')


if a: print('a is present')  

print('I am out of if ')

# if-else case
b=0
if b:
  print('b is present')
else:
  print('b is absent')

print('I am out of if-else ')


# Nested if- else case
c=30
if c<50:
  if c==40:
    print('c is 40')
  elif c==30:
    print('c is 30')
  elif c<30:
    print('c is < 30 ')
else:
  print('c is > 50')


print('c is out of nested if-else')

I am out of if
b is absent
I am out of if-else
c is 30
c is out of nested if-else

## Loops

In [26]:
# while loop
count = 0
while (count < 5):
   print ('The count is:', count)
   count = count + 1

print ("I am out of while loop")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
I am out of while loop

In [27]:
# for loop
fruits = ['banana', 'apple',  'mango']
for index in range(len(fruits)):
   print ('Current fruit :', fruits[index])
   print(index)

print ("I am out of for loop")

Current fruit : banana
0
Current fruit : apple
1
Current fruit : mango
2
I am out of for loop

In [28]:
# Nested while loop
i = 2
while(i < 10):
   j = 2
   while(j <= (i/j)):
      if not(i%j): break
      j = j + 1
   if (j > i/j) : print (i, " is prime")
   i = i + 1

print ("I am out of nested while loop")

2  is prime
3  is prime
5  is prime
7  is prime
I am out of nested while loop

In [29]:
# break statement
for letter in 'Python':     
   if letter == 'h': break       
   print ('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t

In [30]:
# continue statement
for letter in 'Python':     
   if letter == 'h':
      continue
   print ('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n

In [31]:
# pass statement
for letter in 'Python': 
   if letter == 'h':
      pass
      print ('This is pass block')
   print ('Current Letter :', letter)

print ("Out of for loop")

Current Letter : P
Current Letter : y
Current Letter : t
This is pass block
Current Letter : h
Current Letter : o
Current Letter : n
Out of for loop

## Math Functions

In [32]:
# Can't use cmp in python3. Hence defined.
def cmp(a, b):
    return (a > b) - (a < b)

In [33]:
import math 
print ("abs(-10) : ", abs(-10)) # abs(x)
print ("round(12.3456,2) : ", round(12.3426,2)) # round(x,n)
print ("ceil(10.01) : ", math.ceil(10.01))#ceil(x)
print ("floor(10.55) : ", math.floor(10.55))#floor(x)
print ("cmp(10, 20) : ", cmp(10, 20)) # cmp(x)
print ("cmp(20, 10) : ", cmp(20, 10))
print ("cmp(10, 10) : ", cmp(10, 10))
print ("exp(-10) : ", math.exp(-10))#exp(x)
print ("exp(pi) : ", math.exp(math.pi))
print ("exp(e) : ", math.exp(math.e))
print(math.pi,math.e) # Math constants
print ("log(math.e) : ", math.log(math.e))#log(x)
print ("log10(10) : ", math.log10(10))#log10(x)
print ("max(1,2,3) : ", max(1,2,3)) # max(x1,x2,..)
print ("min(1,2,3) : ", min(1,2,3)) # min(x1,x2,..)
print ("pow(2,3) : ", math.pow(2,3))#pow(x,y)
print ("sqrt(25) : ", math.sqrt(25)) # sqrt(x)
print ("math.modf(math.pi) : ",math.modf(math.pi))#modf(x), returns fractional and interger part of number

abs(-10) :  10
round(12.3456,2) :  12.34
ceil(10.01) :  11
floor(10.55) :  10
cmp(10, 20) :  -1
cmp(20, 10) :  1
cmp(10, 10) :  0
exp(-10) :  4.5399929762484854e-05
exp(pi) :  23.140692632779267
exp(e) :  15.154262241479262
3.141592653589793 2.718281828459045
log(math.e) :  1.0
log10(10) :  1.0
max(1,2,3) :  3
min(1,2,3) :  1
pow(2,3) :  8.0
sqrt(25) :  5.0
math.modf(math.pi) :  (0.14159265358979312, 3.0)

In [34]:
# Random number functions

import random

print ("choice([1, 2, 3, 5, 9]) : ", random.choice([1, 2, 3, 5, 9])) # print random choice from list, tuple or dict
print ("randrange(100, 1000, 2) : ", random.randrange(100, 1000, 2)) #returns a randomly selected element from range with step size
print ("random() : ", random.random())# returns random number between 0 and 1 of type float
print ("Random Float uniform(5, 10) : ",  random.uniform(5, 10)) # return random number between the range
list = [20, 16, 10, 5];
random.shuffle(list)
print ("Reshuffled list : ",  list)# used to shuffle the list randomly

choice([1, 2, 3, 5, 9]) :  1
randrange(100, 1000, 2) :  278
random() :  0.5113283215200319
Random Float uniform(5, 10) :  8.256329713878326
Reshuffled list :  [20, 5, 16, 10]

In [88]:
numb=6
if numb>6:
  print('yes')
else:
  print('no')

no

In [86]:
random.seed( 4 )
print ("Random number with seed 1 : ", random.random()) # used for generating fixed random number, no matter now many time you run the code

Random number with seed 1 :  0.23604808973743452

In [92]:
# Trigonometric Functions
print("cos(x) : ", math.cos(1))# cos(x) in radians
print("sin(x) : ", math.sin(1))# sin(x) in radians
print("tan(x) : ", math.tan(1))# tan(x) in radians
print("acos(x) : ", math.acos(1))# acos(x) in radians
print("asin(x) : ", math.asin(1))# asin(x) in radians
print("atan(x) : ", math.atan(1))# atan(x) in radians

print ("degrees(math.pi) : ",  math.degrees(math.pi/2))#Converts angle from radians to degrees.
print ("radians(math.pi) : ",  math.radians(math.pi))#Converts angle from degrees to radians.

print ("hypot(3, 2) : ",  math.hypot(3, 2))# Return the Euclidean norm, sqrt(x*x + y*y).

cos(x) :  0.5403023058681398
sin(x) :  0.8414709848078965
tan(x) :  1.5574077246549023
acos(x) :  0.0
asin(x) :  1.5707963267948966
atan(x) :  0.7853981633974483
degrees(math.pi) :  90.0
radians(math.pi) :  0.05483113556160755
hypot(3, 2) :  3.605551275463989

In [37]:
para_str=''' Task -1 : Initialize the wight matrix for neural network with random values, \n but this weight matrix should be kept in memory for further use. 
The size of weight matrix is 2 x 2'''
print (para_str)
para_str2='''Task-2 : Find the index of a number in the list and print the number and index. Use for loop'''
print (para_str2)

 Task -1 : Initialize the wight matrix for neural network with random values,
 but this weight matrix should be kept in memory for further use.
The size of weight matrix is 2 x 2
Task-2 : Find the index of a number in the list and print the number and index. Use for loop

## String

In [38]:
print(b'Contains embedded "double" quotes')

print(b"Contains embedded 'single' quotes")

print(b'''Contains embedded "double" and 'single' quotes''')

print(b"""Contains embedded "double" and 'single' quotes""")

b'Contains embedded "double" quotes'
b"Contains embedded 'single' quotes"
b'Contains embedded "double" and \'single\' quotes'
b'Contains embedded "double" and \'single\' quotes'

In [39]:
str = "welcome to SIT";
print ("str.capitalize() : ", str.capitalize()) #Capitalizes first letter of string
print(str)

str.capitalize() :  Welcome to sit
welcome to SIT

In [40]:
print ("str.center(21, 'a') : ", str.center(21, 'a'))#Padding character to make a string of length 21

str.center(21, 'a') :  aaaawelcome to SITaaa

In [41]:
str = "this is string example....wow!!!";

sub = "i";
print ("str.count(sub, 4, len(str)) : ", str.count(sub, 4, len(str)))
sub = "wow";
print ("str.count(sub) : ", str.count(sub,28,len(str)))

str.count(sub, 4, len(str)) :  2
str.count(sub) :  0

In [42]:
str1 = "this is string example....wow!!!";
str2 = "is";
str3="jay"

print (str1.find(str2))#returns the first index where the substring str is found
print (str1.index(str2))
print (str1.rindex(str2))#returns the last index where the substring str is found
print (str1.rfind(str2))#returns the last index where the substring str is found
print (str1.find(str3))
#print (str1.index(str3))

2
2
5
5
-1

In [43]:
suffix = "wow!!!";
print (str1.endswith(suffix))
print (str1.startswith( 'wow' ))

True
False

In [44]:
str = "this2009";  # No space in this string
print (str.isalnum()) #checks whether the string consists of alphanumeric characters
print (str.isalpha()) #checks whether the string consists of alphabetic characters only

str = "thisisstringexamplewow9";
print (str.isalnum())
print (str.isalpha())

True
False
True
False

In [45]:
str = "123456";  # Only digit in this string
print (str.isdigit()) #checks whether the string consists of digits only

str = "this is string example....wow!!!";
print (str.isdigit())

True
False

In [46]:
str = "THIS is string example....wow!!!"; 
str1="   "
print (str.islower()) #checks whether all the case-based characters (letters) of the string are lowercase
print (str.isupper()) #checks whether all the case-based characters (letters) of the string are uppercase.
print (str1.isspace()) # checks whether the string consists of whitespace.
str = "this is string example....wow!!!";
str2="SIT"
print (str.islower())
print (str2.isupper())

False
False
True
True
True

In [47]:
str = "This Is String Example...Wow!!!"; #Checks whether each letter is uppercase
print (str.istitle())

str = "This is string example....wow!!!";
print (str.istitle())

True
False

In [48]:
s = "-";
seq = ("a", "b", "c"); # This is sequence of strings.
print (s.join( seq )) #returns a string in which the string elements of sequence have been joined by str separator.

#list('jynt')
#'a'.join('jynt')

a-b-c

In [49]:
print('SIT.E&TC.PUNE'.partition('.'))
print('SIT.E&TC.PUNE'.rpartition('.'))
print('SIT.E&TC'.partition('@'))

('SIT', '.', 'E&TC.PUNE')
('SIT.E&TC', '.', 'PUNE')
('SIT.E&TC', '', '')

In [50]:
str = "this is string example....wow!!!";
print ("Length of the string: ", len(str)) #returns the length of the string

Length of the string:  32

In [51]:
str = "this is string example....wow!!!";
print (str.ljust(40, 'J'))# left jusified text
print (str.rjust(40, 'J'))# right jusified text

this is string example....wow!!!JJJJJJJJ
JJJJJJJJthis is string example....wow!!!

In [52]:
str = "THIS IS STRING EXAMPLE....WOW!!!";
print (str.lower())#returns lower case string
str = "this is string example....wow!!!";
print (str.upper())

this is string example....wow!!!
THIS IS STRING EXAMPLE....WOW!!!

In [53]:
str = "     this is string example....wow!!!     ";
print (str.lstrip()) #remove white spaces from left
print (str.rstrip()) #remove white spaces from right
str = "88888888this is string example....wow!!!8888888";
print (str.lstrip('8')) # remove '8' from left
print (str.rstrip('8')) # remove '8' from right
print (str.strip('8'))

this is string example....wow!!!
     this is string example....wow!!!
this is string example....wow!!!8888888
88888888this is string example....wow!!!
this is string example....wow!!!

In [54]:
str = "this is really a string example....wow!!!";
print ("Max character: " + max(str))# returns the max alphabetical character from the string str.
print ("Min character: " + min(str))#returns the min alphabetical character from the string str.
str = "this is a string example....wow!!!";
print ("Max character: " + max(str))
print ("Min character: " + min(str))

Max character: y
Min character:
Max character: x
Min character:

In [55]:
str = "this-is-real-string-example....wow!!!";
print ("Min character: " + min(str))

str = "this-is-a-string-example....wow!!!";
print ("Min character: " + min(str))

Min character: !
Min character: !

In [56]:
str = "This is SIT"
print (str.replace("SIT", "E&TC"))

This is E&TC

In [57]:
str='I am in\nPune \nWhere are you'
print (str.split())
print (str.rsplit())
print (str.splitlines())

['I', 'am', 'in', 'Pune', 'Where', 'are', 'you']
['I', 'am', 'in', 'Pune', 'Where', 'are', 'you']
['I am in', 'Pune ', 'Where are you']

In [58]:
str = "this is string example....wow!!!";
print (str.swapcase())

str = "THIS IS STRING EXAMPLE....WOW!!!";
print (str.swapcase())

THIS IS STRING EXAMPLE....WOW!!!
this is string example....wow!!!

In [59]:
str = "this is string example....wow!!!";
print (str.title())

This Is String Example....Wow!!!

In [60]:
str = "this is string example....wow!!!";
print (str.zfill(40))# zero padding to left till len(str) matches

00000000this is string example....wow!!!

In [61]:
str = u"this2009";  # u indicates unicode
print (str.isdecimal());

str = u"23443434";
print (str.isdecimal());

False
True

In [62]:
for i in range(127):   #American Standard Code for Information Interchange(ASCII)
  print(i,":",chr(i))

0 :  
1 : 
2 : 
3 : 
4 : 
5 : 
6 : 
7 : 
8 : 
9 :
10 :

11 :
12 :
13 :
14 : 
15 : 
16 : 
17 : 
18 : 
19 : 
20 : 
21 : 
22 : 
23 : 
24 : 
25 : 
26 : 
27 : 
28 :
29 :
30 :
31 :
32 :
33 : !
34 : "
35 : #
36 : $
37 : %
38 : &
39 : '
40 : (
41 : )
42 : *
43 : +
44 : ,
45 : -
46 : .
47 : /
48 : 0
49 : 1
50 : 2
51 : 3
52 : 4
53 : 5
54 : 6
55 : 7
56 : 8
57 : 9
58 : :
59 : ;
60 : <
61 : =
62 : >
63 : ?
64 : @
65 : A
66 : B
67 : C
68 : D
69 : E
70 : F
71 : G
72 : H
73 : I
74 : J
75 : K
76 : L
77 : M
78 : N
79 : O
80 : P
81 : Q
82 : R
83 : S
84 : T
85 : U
86 : V
87 : W
88 : X
89 : Y
90 : Z
91 : [
92 : \
93 : ]
94 : ^
95 : _
96 : `
97 : a
98 : b
99 : c
100 : d
101 : e
102 : f
103 : g
104 : h
105 : i
106 : j
107 : k
108 : l
109 : m
110 : n
111 : o
112 : p
113 : q
114 : r
115 : s
116 : t
117 : u
118 : v
119 : w
120 : x
121 : y
122 : z
123 : {
124 : |
125 : }
126 : ~

In [63]:
str='ABcd12'
for i in range(len(str)):
  print(ord(str[i]))

65
66
99
100
49
50

In [64]:
print(str[0:len(str):2])# stride in string
print(str[::3])
print(str[3::2])
print(str[::-2])
print(str[::3])

Ac1
Ad
d2
2dB
Ad

In [65]:
n = 2
m = 25
prod = n * m
print('The product of', n, 'and', m, 'is', prod)
print(f'The product of {n} and {m} is {prod}')#f-string

The product of 2 and 25 is 50
The product of 2 and 25 is 50

##List

In [66]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5, 6, 7 ];
print ("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5])

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]

In [67]:
list2[2] = 2001;
print ("New value available at index 2 : ")
print (list2[2])
print("New List", list2)

New value available at index 2 :
2001
New List [1, 2, 2001, 4, 5, 6, 7]

In [68]:
list1, list2 = [123, 'xyz', 'zara'], [456, 'abc']
print ("First list length : ", len(list1))# lenght of the string
print ("Second list length : ", len(list2))

First list length :  3
Second list length :  2

In [69]:
list3, list4 = ['xyz', 'jay', 'abc'], [456, 700, 200]
print ("Max value element : ", max(list3))
print ("Max value element : ", max(list4))
print ("Min value element : ", min(list3))
print ("Min value element : ", min(list4))
#list5=["xyz",123]
#print(max(list5))

Max value element :  xyz
Max value element :  700
Min value element :  abc
Min value element :  200

In [70]:
aTuple = (123, 'xyz', 'jay', 'abc');
aList = list(aTuple)# Convert tuple to list
print ("List elements : ", aList)

TypeError: ignored

In [ ]:
aList = [123, 'xyz', 'jay', 'abc'];
aList.append( 2009 );
print ("Updated List : ", aList)

In [ ]:
aList = [123, 'xyz', 'jay', 'abc', 123];
print ("Count for 123 : ", aList.count(123)) # returns how many times the substring appread in the list
print ("Count for jay : ", aList.count('jay'))
print ("Count for jay : ", aList.count('jayant'))

In [ ]:
aList = [123, 'xyz', 'jay', 'abc', 123];
bList = [2009, 'sit'];
aList.extend(bList)
print ("Extended List : ", aList) 
cList=aList+bList
print(cList)
aList.append( bList );
print(bList)
print(aList)

In [ ]:
print ("Index for xyz : ", aList.index( 'xyz' ) )
print ("Index for jay : ", aList.index( 'jay' ) )

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000];
print (list1)
del list1[-1];
print ("After deleting value at index 2 : ")
print (list1)

In [ ]:
aList = [123, 'xyz', 'jay', 'abc']
aList.insert( 3, 2009)
print ("Final List : ", aList)

In [ ]:
aList = [123, 'xyz', 'jay', 'abc'];
print ("A List : ", aList.pop())# removes last object from the list and return the object
print(aList)
print ("B List : ", aList.pop(2))
print(aList)

In [ ]:
aList = [123, 'xyz', 'jay', 'abc', 'xyz'];
aList.remove('xyz');# search and remove the first match
print ("List : ", aList)
aList.remove('abc');# works like del in this case
print ("List : ", aList)

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 'xyz'];
aList.reverse();
print ("List : ", aList)

In [ ]:
aList = ['xyz', 'zebra', 'abc', 'edf'];
blist=[1,3,2]
aList.sort();
print ("List : ", aList)
blist.sort();
print ("List : ", blist)

In [ ]:
a = [1, 2, 3, 0]
print(any(a)) #returns True if any element of an iterable is True
a = []
print(any(a))
a = [0, False]# both are false
print(any(a))
a = [False, True]
print("new:",any(a))
a = [0, False, 10]
print(any(a))

In [ ]:
print('''my_List=[10,20,30,40,10,20,50,70,80]
Find unique elements from the given list and print the new list''')

In [ ]:
my_List=[10,20,30,40,10,20,50,70,80]
set(my_List)# one solution

In [ ]:
mylist = [10,20,30,40,10,20,50,70,80]
uniquelist = list()
 
for x in mylist:
 if x not in uniquelist:
   uniquelist.append(x)
 
print(uniquelist)  # second solution

In [ ]:
new_list = []
for i in my_list:
    if i not in new_list:
        new_list.append(i)

In [ ]:
Lst=list()

For number in list:

        if number not in lst:

             lst.append()

##Tuples

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5 );
tup3 = "a", "b", "c", "d";
tup4 = (); # empty tuple
tup5=(50)
tup6 = (50,);# tuple with single value, still need to write quama after single value
print(tup1,tup2,"\n",tup3,"\n",tup4,"\n",tup5,tup6)
print(type(tup5))
print(type(tup6))

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

In [ ]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');
#tup1[0] = 100; # not valid for tuples
tup3 = tup1 + tup2;
print (tup3);

In [ ]:
tup = ('physics', 'chemistry', 1997, 2000);
print (tup);
del tup;
#print ("After deleting tup : ")
#print (tup)

In [ ]:
print(len((1, 2, 3)))
print((1, 2, 3) + (4, 5, 6))
print(('SIT..',) * 4)
print(3 in (1, 2, 3))
for x in (1, 2, 3): print (x),

In [ ]:
tup1 = ('physics', 'chemistry');
tup2 = (1, 2, 3, 4, 5 );
print(max(tup1))
print(min(tup2))

In [ ]:
aList = [123, 'xyz', 'zara', 'abc']
aTuple = tuple(aList)
print ("Tuple elements : ", aTuple)
Tup=()
#Tup = (50)
any(Tup)

In [ ]:
from collections import namedtuple #collections are specialized container datatypes
Person = namedtuple('Person', 'first_name last_name zip_code') # special tuple used for accessing without index
p1 = Person('Jayant', 'Jagtap', '411046')
p2 = Person('Shilpa', 'Hudnurkar', '411042')
p3 = Person('Parag', 'Narkhede', '411043')

people = [p1, p2, p3]

for person in people:print(person.first_name, person.last_name)
print("************")
for person in people:print(person[0], person[2])

##Dictionary

In [ ]:
dict = {'Name': 'Jay', 'Age': 21, 'Class': 'Third'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

In [ ]:
dict = {'Name': 'Jaya', 'Age': 21, 'Class': 'Third'}
dict['Age'] = 8; # update existing entry
dict['College'] = "SIT"; # Add new entry

print ("dict['Age']: ", dict['Age'])
print ("dict['College']: ", dict['College'])
print(dict)

In [ ]:
dict = {'Name': 'Jaya', 'Age': 21, 'Class': 'Third'}
del dict['Name']; # remove entry with key 'Name'
print(dict)
dict.clear();     # remove all entries in dict
print(dict)

In [ ]:
dict = {'Name': 'jay', 'Age': 21, 'Name': 'jag'} # More than one entry per key not allowed
print ("dict['Name']: ", dict['Name']) # When duplicate keys entered , the last key will be printed

In [ ]:
#dict = {['Name']: 'jay', 'Age': 21}#keys are immutable
#print ("dict['Name']: ", dict['Name'])

In [ ]:
dict = {'Name': 'Jaya', 'Age': 21, 'Class': 'Third'}
print(len(dict))
print(str(dict))
print(type(dict))

In [ ]:
dict = {'Name': 'Jaya', 'Age': 21, 'Class': 'Third'}
print(dict.keys())
print(dict.values())
dict2=dict.copy()
print("dict2:",dict2)

In [ ]:
seq = ('name', 'age', 'college')
dict = dict.fromkeys(seq) #creates a new dictionary with keys from seq 
print ("New Dictionary : ", dict)

dict = dict.fromkeys(seq, 10)
print ("New Dictionary :",dict)

In [ ]:
dict = {'Name': 'jay', 'Age': 21}
print ("Value : ",  dict.get('Age'))
print ("Value : " , dict.get('Education'))
print ("Value : " , dict.get('Education','Engg'))

In [ ]:
dict = {'Name': 'jay', 'Age': 21}
print ("Value : " , dict.items())#returns a list of dict's (key, value) tuple pairs

In [ ]:
dict = {'Name': 'jay', 'Age': 21}
dict2 = {'College': 'SIT' }

dict.update(dict2)
print ("Value : %s" %  dict)

In [ ]:
dict = {'Name': 'jay', 'Age': 21}

#print(dict["College"]) #shows error

# This can be solve by defaultdict

from collections import defaultdict 
dict = defaultdict(lambda: "SIT")#lambda as default_factory argument 
print(dict["College"])

##Date & Time

In [ ]:
import time;  # This is required to include time module.

localtime = time.localtime(time.time())
print ("Local current time :", localtime)
print("-------")
print ("time.asctime(localtime): %s " % time.asctime(localtime))#converts a struct_time in redable format
print("-------")
print ("time.ctime() : %s" % time.ctime()) #converts a time expressed in seconds since the epoch to a string representing local time

curr_time = time.localtime() 
cc = time.strftime("%H:%M:%S", curr_time)
print(cc) #IST is ahead of UTC(Coordinated Universal Time (UTC) by 05:30

In [ ]:
print ("Start : %s" % time.ctime())
time.sleep( 5 )#suspends execution for the given number of seconds
print ("End : %s" % time.ctime())

In [ ]:
import calendar

cal = calendar.month(2020, 7)
print ("Here is the calendar:")
print (cal)

In [ ]:
print(calendar.firstweekday())
print(calendar.isleap(2020))
print(calendar.calendar(2010))

In [ ]:
#Other time modules (if interested can learn): datetime, dateutil and pytz 

from datetime import datetime 
import pytz 
  
# get the standard UTC time  
UTC = pytz.utc 
  
# it will get the time zone  
# of the specified location 
IST = pytz.timezone('Asia/Kolkata') 
  
# print the date and time in 
# standard format 
print("UTC in Default Format : ",  
      datetime.now(UTC)) 
  
print("IST in Default Format : ",  
      datetime.now(IST)) 
  
# print the date and time in  
# specified format 
datetime_utc = datetime.now(UTC) 
print("Date & Time in UTC : ", 
      datetime_utc.strftime('%Y:%m:%d %H:%M:%S %Z %z')) 
  
datetime_ist = datetime.now(IST) 
print("Date & Time in IST : ",  
      datetime_ist.strftime('%Y:%m:%d %H:%M:%S %Z %z'))

## Functions

In [ ]:
# Defining a Function
def print_my_name( str ):
   '''This function prints my name'''
   print(str)
   return

In [ ]:
# Calling a Function
print_my_name('jayant')

In [ ]:
def print_my_info( name, age, college='SIT' ):
   "This function prints my information"
   print ("Name: ", name)
   print ("Age: ", age)
   print("College: ",college)
   return # return nothing

print_my_info('jayant',32)

In [ ]:
addition=0 # global variable outside the scope of function
def my_add(a,b):
  'This functions add two numbers'
  addition=a+b # local varable inside the scope of function
  return addition # return value

print(f'addition={addition}')
print(f'addition={my_add(3.2,2.3)}')

In [ ]:
def print_var_length_argument( var1, *var2 ):
   "This function prints varible length argument"
   print ("Output is: ")
   print (f'{var1} and {var2}')

   '''for var in var2:
      print (var)'''
   return

print_var_length_argument(10,['jayant', 21.5, 'SIT'])

In [ ]:
#The Anonymous Functions using lamda (not declared in the standard format by using the def keyword)

subtract=lambda var1, var2:var1-var2;

print(f'subtraction of 20 and 10 is {subtract(20,10)}')

## Modules

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

In [ ]:
drive.flush_and_unmount()

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

In [ ]:
import os

In [ ]:
import math
#w=dir(math)
#print(w)

math.sin(10)

In [ ]:
os.chdir('/gdrive/My Drive/')

In [ ]:
import myinfo
w=dir(myinfo)
print(w)

In [ ]:
import myinfo
myinfo.My_Profile()

In [ ]:
# A module is a Python object groups related code for further use
import myinfo # import myprofile module

myinfo.My_Profile('jayant', 'jagtap',411046) # using object of module
myinfo.My_Profile('Aishwarya', 'xyz', 412115)

In [ ]:
import myinfo as mi # renaming the module for typing simplicity
mi.My_Profile('jayant', 'jagtap',411046)

In [ ]:
x = dir(mi)
print(x)

In [ ]:
from myinfo import My_Profile
My_Profile('jayash', 'jagtap',411046) # without creating object of module

In [ ]:
from myinfo import My_Education
My_Education('BE(E&TC)', 'MTech(Electronics)', 'PhD(E&TC)')

In [ ]:
from myinfo import *
myinfo.My_Profile('jayant', 'jagtap',411046)
myinfo.My_Education('BE(E&TC)', 'MTech(Electronics)', 'PhD(E&TC)')

In [ ]:
# Package is collection of modules
from mypackage import myprofile as mp
from mypackage import myeducation as me
mp.My_Profile('jayant', 'jagtap',411046)
me.My_Education('BE(E&TC)', 'MTech(Electronics)', 'PhD(E&TC)')

In [ ]:
import mydetails as md

In [ ]:
md.My_Age(21)

## Input/Output (I/O)

In [ ]:
print ("Python is emerging platform for AI")#output

In [ ]:
#Input
str = input("Enter your name: ")
print('Entered name is ',str)

## File Handeling

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

In [ ]:
import os
os.chdir('/gdrive/My Drive/')

In [ ]:
# r:Opens a file for reading only. The file pointer is placed at the  beginning of the file. This is the default mode.
# rb: Opens a file for reading only in binary format. The file pointer is placed at the beginning of the file. This is the default mode.
# r+: Opens a file for both reading and writing. The file pointer placed at the beginning of the file.
# rb+: Opens a file for both reading and writing in binary format. The file pointer placed at the beginning of the file.
# w: Opens a file for writing only. Overwrites the file if the file exists. If the file does not exist, creates a new file for writing.
# wb: Opens a file for writing only in binary format. Overwrites the file if the file exists. If the file does not exist, creates a new file for writing.
# w+: Opens a file for both writing and reading. Overwrites the existing file if the file exists. If the file does not exist, creates a new file for reading and writing.
# wb+:Opens a file for both writing and reading in binary format. Overwrites the existing file if the file exists. If the file does not exist, creates a new file for reading and writing.
# a: Opens a file for appending. The file pointer is at the end of the file if the file exists. If the file does not exist, it creates a new file for writing.
# ab: Opens a file for appending in binary format.
# a+: Opens a file for both appending and reading.
# ab+: Opens a file for both appending and reading in binary format.

In [ ]:
open_file = open("jayant.txt", "w+")
print ("Name of the file: ", open_file.name)
print ("Closed or not : ", open_file.closed)
print ("Opening mode : ", open_file.mode)

In [ ]:
open_file.close()
print ("Closed or not : ", open_file.closed)

In [ ]:
# Open a file
open_file = open("jayant.txt", "w+")
open_file.write("Python is emerging platform for AI.\nAmezing!!\n")

# Close opend file
open_file.close()

In [ ]:
# Open a file
open_file = open("jayant.txt", "r+")
str = open_file.read();
print ("Read String is : ", str)
position = open_file.tell()
print ("Current file position : ", position)

position = open_file.seek(0, 0);
str = open_file.read(20)
print ("Again read String is : ", str)
# Close opend file
open_file.close()

In [ ]:
# Open a file
open_file = open("SIT.txt", "w+")
open_file.write("SIT is an emerging Engineering College.\nAmezing!!\n")

# Close opend file
open_file.close()

In [ ]:
os.rename( "SIT.txt", "My_College.txt" )

In [ ]:
os.remove("My_College.txt")

In [ ]:
os.mkdir("Python")# Create folder in Google Drive

In [ ]:
os.chdir("Python")

In [ ]:
os.getcwd()#displays the current working directory

In [ ]:
os.chdir("/gdrive/My Drive/")

In [ ]:
os.getcwd()

In [ ]:
os.rmdir("Python")

# Congratulations to All for Learning Python with me!!!